<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sisodia's Hotel - {{name}}</title>
    {{>top}}
</head>
<body>
    {{>empnav}}
    <div class="row text-center mt-4">
        <div class="col-6">
            <h3>Total AC room available</h3>
            <h4>{{ac}}</h4>
        </div>
        <div class="col-6">
            <h3>Total Non-AC room available</h3>
            <h4>{{nac}}</h4>
        </div>
    </div>
    <div class="booking-area my-5">
        <h1 class="text-center">Booking Area</h1>
        {{>bookingform}}
    </div>
</body>
{{>below}}
</html>