<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sisodia's Hotel-Facility</title>
    {{>top}}
</head>
<body>
    {{>navbar}}
    <div class="container">
        <h1 class="text-center my-4 heading">Hotel Facilities & Guest Service</h1>
        <h2 class="head-1">Hotel Facilities</h2>
        <div class="row">
            <div class="col-xxl-6 col-sm-12 list-item">
                <ul>
                    <li>Spa</li>
                    <li>Semi open & outdoor restaurant</li>
                    <li>Poolside bar</li>
                    <li>Car parking</li>
                    <li>Swimming pool/ Jacuzzi</li>
                    <li>Public computer</li>
                    <li>Disable rooms & Interconnecting rooms</li>
                    <li>24 Hour security</li>
                </ul>
            </div>
            <div class="col-xxl-6 col-sm-12 list-item">
                <ul>
                    <li>Outside catering service</li>
                    <li>100 Seating capacity restaurant</li>
                    <li>150 Capacity outdoor terrace</li>
                    <li>45 Seating conference room</li>
                    <li>35 Seating private air-conditioning dining room</li>
                    <li>Water purification system</li>
                    <li>Sunset boat trip</li>
                    <li>Gift shop</li>
                </ul>
            </div>
        </div>
        <h2 class="head-2">Guest Service</h2>
        <div class="row">
            <div class="col-xxl-6 col-sm-12 list-item">
                <ul>
                    <li>24-Hour room service</li>
                    <li>Free wireless internet access</li>
                    <li>Complimentary use of hotel bicycle</li>
                    <li>Laundry service</li>
                    <li>Tour & excursions</li>
                    <li>24 Hour concierge</li>
                </ul>
            </div>
            <div class="col-xxl-6 col-sm-12 list-item">
                <ul>
                    <li>Meeting facilities</li>
                    <li>E-Bike & horse cart rental</li>
                    <li>Airport transfers</li>
                    <li>Babysitting on request</li>
                    <li>24-Hour doctor on call</li>
                </ul>
            </div>
        </div>
    </div>
    {{>footer}}
</body>
{{>below}}
</html>