<div class="container-fluid" id="middle-section">
    <h1>Welcome to Sisodia's Hotel</h1>
    <h5 class="my-3">World no. 1 hotel</h5>
    <button type="button" class="btn btn-success" onclick="window.location.href = '/book';">Book now</button>
</div>