<div class="container-fluid footer-area p-4">
    <div class="container">
        <h2>Sisodia's Hotel</h2>
        <div class="row">
            <div class="col-xxl-6 col-sm-12">
                <div class="address-container">
                    <p>Near Bhartiya Tech IT Solutions</p>
                    <p>Noida Sector-62</p>
                    <p>Telephone: xxxxxxxxxx</p>
                    <p>Fax: xxxxxxxxxx</p>
                    <p>Pin code: xxxxxx</p>
                    <p>Email: sisodiahotel@gmail.com</p>
                </div>
            </div>
            <div class="col-xxl-6 col-sm-12">
                <a href="https://www.facebook.com/"><img src="img/facebook.png" alt="Facebook"></a>
                <a href="https://www.instagram.com/" class="mx-2"><img src="img/instagram.png" alt="Instagram"></a>
                <a href="https://www.youtube.com/"><img src="img/youtube.png" alt="Youtube"></a>
            </div>
        </div>
    </div>
</div>