<div class="container login-area">
    <div class="login-form-area px-5">
        <h3 class="text-center my-3">Employee Sign-In</h3>
        <form action="/signed" method="post">
            <div class="row g-3">
                <div class="col-12">
                    <input type="text" name="uid" class="form-control" placeholder="User id" aria-label="User id">
                </div>
            </div>
            <div class="row g-3 mt-2">
                <div class="col-12">
                    <input type="password" name="password" class="form-control" placeholder="Password" aria-label="Password">
                </div>
            </div>
            <button type="submit" class="btn btn-info my-3">Sign in</button>
        </form>
    </div>
</div>